@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    /*HEADER*/
    .logo {
        margin-left: 10px;
    }
    .logo .company {
        margin-top: 20px;
        padding-left: 3px;
    }
    .company h2 {
        margin: 0;
        line-height: 35px;
        font-size: 20px;
    }
    .company p {
        font-size: 13px;
        line-height: 16px;
        width: 100px;
    }
    .search {
        width: 40%;
        margin-right: 10px;
        margin-top: 30px;
    }
    .search input {
        padding-left: 5px;
        font-size: 11px;
        border-width: 2px;
    }
    .search .lupa {
        right: 5px;
    }
    /*NAVIGATION*/
    .small-menu {
        position: relative;
    }
    .small-menu p {
        display: inline-block;
        cursor: pointer;
        position: relative;
        font-size: 60px;
        color: #6F6F6F;
        margin: 0;
        padding: 0 25px;
        box-sizing: border-box;
    }
    nav ul {
        display: none;
    }
    nav li {
        float: none;
        background-color: rgba(211, 211, 211, 0.74);
        width: 120px;
    }
    .small-menu p:hover+ul, .small-menu ul:hover {
        display: block;
        position: absolute;
        top: 28px;
        right: 0;
        z-index: 2;
        padding: 0;
    }
    nav li a {
        line-height: 22px;
        padding: 0 10px;
        height: initial;
    }
    /*SLIDER*/
    section {
        width: 100%;
    }
    .slider-slides .slide {
        width: 20%;
        padding: 10px 56px 0 25px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slider-slides .slide h2 {
        font-size: 10px;
    }
    .slider-slides .slide h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #btn-1:checked ~ .slider-inner .slider-slides {
        transform: translate(0);
    }
    #btn-2:checked ~ .slider-inner .slider-slides {
        transform: translate(-20%);
    }
    #btn-3:checked ~ .slider-inner .slider-slides {
        transform: translate(-40%);
    }

    #btn-4:checked ~ .slider-inner .slider-slides {
        transform: translate(-60%);
    }

    #btn-5:checked ~ .slider-inner .slider-slides {
        transform: translate(-80%);
    }
    /*MAIN*/
    .service-container {
        width: 100%;
        padding: 0 3px;
    }
    .service {
        padding: 0;
        text-decoration: none;
    }
    .service img {
        float: none;
        width: 25px;
        margin: 5px auto;
    }
    .service p {
        float: none;
        font-size: 8px;
        margin: 0;
        text-align: center;
    }
}