@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
    /*HEADER*/
    .logo {
        margin-left: 70px;
    }
    .logo .company {
        margin-top: 20px;
    }
    h2 {
        font-size: 40px;
    }
    .company h2 {
        line-height: 50px;
    }
    .company p {
        font-size: 18px;
        line-height: 18px;
    }
    .search input {
        height: 30px;
    }
    .search .lupa {
        top: 7px;
    }
    /*NAVIGATION*/
    nav li a {
        font-size: 17px;
    }
    /*SLIDER*/
    section {
        width: 1280px;
    }
    .slider-slides .slide h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .slider-slides .slide h1 {
        font-size: 60px;
        line-height: 85px;
    }
    .slider-slides .slide p {
        font-size: 20px;
        line-height: 32px;
    }
    .slider-slides .slide {
        padding: 20px 593px 0 80px;
    }
    .slider-slides .slide {
        width: 1280px;
        height: 563px;
    }
    #btn-2:checked ~ .slider-inner .slider-slides {
        transform: translate(-1280px);
    }

    #btn-3:checked ~ .slider-inner .slider-slides {
        transform: translate(-2560px);
    }

    #btn-4:checked ~ .slider-inner .slider-slides {
        transform: translate(-3840px);
    }

    #btn-5:checked ~ .slider-inner .slider-slides {
        transform: translate(-5120px);
    }
    .slider-controls {
        bottom: 35px;
    }
    /*MAIN*/
    .service {
        padding: 29px 4px;
    }
    .service img {
        margin-right: 14px;
        width: 34px;
    }
    .service p {
        font-size: 19px;
    }
    /*FOOTER*/
    footer {
        height: 95px;
    }
}